body {
	background-color:lightgreen;
	font-family: Consolas;
	padding: 12px;
	border: 10px solid blue;
}

h1 {
	background-color:lightgreen;
	font-family: Consolas;
	padding: 12px;
	border: 10px solid blue;
}